
models/llama-2-7b-chat.Q8_0.gguf
*.gguff
pruebas/español.py
pruebas/nocensura.py
__pycache__/llama2.cpython-311.pyc
pruebas/finetune.py
*.pyc
models/.DS_Store
models/.DS_Store
__pycache__/llama2.cpython-311.pyc
*.pyc
*.gguf
