body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    height: 100%;
}


#chat-container {
    max-width: 800px;
    margin:  auto;
    overflow: hidden;
    background-image: url('/static/bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#chat-messages-container {
    flex: 1;
    overflow-y: auto;
    margin-top: 20px; /* Mueve el margen superior desde #chat-messages al #chat-messages-container */
    padding:10px;
}

#footer {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    position: sticky; /* Cambia a sticky para que el footer se adhiera al final de #chat-container */
    bottom: 0; /* Fija el footer en la parte inferior */
}

pre code {
    white-space: pre-wrap;  /* Para mantener los saltos de línea y espacios en blanco */
    overflow-x: auto; /* Permite desplazamiento horizontal */
    max-width: 100%; /* Ancho máximo igual al contenedor padre */
}

.message-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
    clear: both;
    height: 65%;

}

#chat-header {
    background-color: #4CAF50;
    height:130px;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ajusta el valor según sea necesario para evitar que se solape con otros elementos fijos */
}

.user-message .message-content {
    background-color: #e6e6e6;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
    align-self: flex-end;
    float: right;
    margin-bottom: 10px;
}

.assistant-message .message-content {
    background-color: #b9f6ca;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

#userInput {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 10px 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    box-sizing: border-box;
   
}


/* Estilos para la imagen circular del asistente */
/* Estilos para el contenedor del mensaje del asistente */
.assistant-message {
    display: flex;
    align-items: flex-start; /* Alinear elementos al principio */
    margin-bottom: 15px;
    clear: both;
    height: auto; /* Ajusta la altura automáticamente */
}

.profile-image {
    width: 40px; /* Ajusta según tus necesidades */
    height: 40px; /* Ajusta según tus necesidades */
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px; /* Espaciado entre la imagen y el bocadillo */
}

.profile-image img {
    width: 100%;
    height: auto;
}

.message-content {
    background-color: #b9f6ca;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

#sendButton {
    width: 70px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#clearContextButton {
    height:30px;
    width:100%;
    padding: 5px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:20px;
}
#clearContextButton:hover {
    background-color: #fff;
    color:orange;

}

/* Estilo para el botón deshabilitado */
#sendButton:disabled {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
}
textarea{
    width:100%;
    min-height:50px;
}

#nightModeButton {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    z-index: 1001; /* Asegura que el botón esté por encima del chat-header */
}

#nightModeButton:hover {
    background-color: #555;
}

body.night-mode {
    background-color: #333;
    
}

#userImput.night-mode{
    background-color:#444;
   
}

#footer.night-mode {
    background-color: #2C2C2C;
    border-top: 1px solid #666;
}


#sendButton.night-mode {
    background-color: #007ACC;;
}
#sendButton.night-mode:hover {
    background-color: #fff;
    color: #007ACC;
}
#clearContextButton.night-mode {
    background-color: #007ACC;
    color: #fff;
}
#clearContextButton.night-mode:hover {
    background-color: #fff;
    color: #007ACC;
}
#chat-container.night-mode {
    background-image: url('/static/bgd.png'); /* Ruta a tu nueva imagen de fondo nocturno */
    background-size: cover;
}