body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    height: 100vh;
}

#chat-container {
    max-width: 800px;
    margin: 10px auto;
    overflow: hidden;
    background-image: url('/static/bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chat-messages-container {
    flex: 1;
    overflow-y: auto;
    margin-top: 250px; /* Mueve el margen superior desde #chat-messages al #chat-messages-container */
    padding:10px;
}

#footer {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    position: sticky; /* Cambia a sticky para que el footer se adhiera al final de #chat-container */
    bottom: 0; /* Fija el footer en la parte inferior */
}




.message-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    clear: both;
    height: 65%;
}

#chat-header {
    background-color: #4CAF50;
    height:130px;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ajusta el valor según sea necesario para evitar que se solape con otros elementos fijos */
}



.user-message .message-content {
    background-color: #e6e6e6;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
    align-self: flex-end;
    float: right;
    margin-bottom: 10px;
}

.assistant-message .message-content {
    background-color: #b9f6ca;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

#userInput {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 10px 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    box-sizing: border-box;
}

#sendButton {
    width: 70px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#clearContextButton {
    width: 70px;
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#clearContextButton:hover {
    width: 68px;
    padding: 10px;
    background-color: #fff;
    color:orange;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/* Estilo para el botón deshabilitado */
#sendButton:disabled {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
}
textarea{
    width:100%;
    min-height:20px;
}