<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Portfolio Inteligente</title>
</head>
<body>
    <button id="clearContextButton" onclick="clear_context()">Limpiar Contexto</button>
    <button id="nightModeButton" onclick="toggleNightMode()">Lunita</button>
       <div id="chat-container">
        <div id="chat-messages-container">
            <div id="chat-messages"></div>
        </div>
    </div>
    <div id="footer">
        <input type="text" id="userInput" placeholder="Ingresa tu mensaje" onkeydown="handleKeyPress(event)">
        <button id="sendButton" onclick="askAssistant()">Enviar</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
    <script>

        hljs.highlightAll();
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var content;

        function askAssistant() {
            var userInput = document.getElementById("userInput").value;

            if (userInput.trim() === "") {
                return; // No enviar si el input está vacío
            }
            // Añadir mensaje del usuario al contenedor de mensajes
            var chatMessages = document.getElementById("chat-messages");
            chatMessages.innerHTML += `<div class="message user-message"><div class='message-content'><strong>Yo</strong><br> ${userInput}</div></div>`;
            var newMessage = chatMessages.lastElementChild;
            newMessage.scrollIntoView();
            // Deshabilitar el botón y vaciar el input
            document.getElementById("sendButton").disabled = true;
            document.getElementById("userInput").value = "";

            userInput = "\n" + userInput + "\n";

            $.post("/ask", { user_input: userInput }, function (data) {

                // Habilitar el botón después de recibir la respuesta
                document.getElementById("sendButton").disabled = false;
            });
        }

        socket.on('response', function (data) {
            var chatMessages = document.getElementById("chat-messages");
            content = data.content;
            formattedResponse = content.replace("/", "").replace(">", "");

            // Buscar y reemplazar solo en el primer y segundo conjunto de comillas triples
            var firstTripleIndex = formattedResponse.indexOf("```");
            var secondTripleIndex = formattedResponse.indexOf("```", firstTripleIndex + 3);
            
            if (firstTripleIndex !== -1 && secondTripleIndex !== -1) {
                // Reemplazar solo en el primer y segundo conjunto de comillas triples
                formattedResponse = formattedResponse.substring(0, firstTripleIndex) + "<pre><code>" + 
                                    formattedResponse.substring(firstTripleIndex + 3, secondTripleIndex) + 
                                    "</code></pre>" + formattedResponse.substring(secondTripleIndex + 3);
                                    hljs.highlightAll();
            }

            if (data.is_code) {
                chatMessages.innerHTML += `<div class="message code-window"><pre><code class="python">${content}</code></pre></div>`;
                // Resaltar el código
            } else {
            if (data.user_input !== undefined) {
                chatMessages.innerHTML += `<div class="message">Asistente<br> ${formattedResponse}</div>`;
            } else {
                // Reemplazar saltos de línea por <br> en partes fuera de <textarea>
                formattedResponse = formattedResponse.replace(/(?!<textarea>)(\n)(?![^<]*<\/textarea>)/g, '<br>');
                chatMessages.innerHTML += `<div class="message-container assistant-message"><div class="message-content"><strong>Asistente</strong><br> ${formattedResponse}</div></div>`;
            }
        }

        // Hacer scroll hacia abajo
        var chatMessagesContainer = document.getElementById("chat-messages-container");
        chatMessagesContainer.scrollTop = chatMessagesContainer.scrollHeight;
        // Restaura el scroll en el body
        document.body.style.overflow = 'auto';
        newMessage.scrollIntoView();
    });

    function clear_context() {
        // Realizar la solicitud fetch al endpoint clear_context en el backend Flask
        fetch("/clear_context", {
            method: "POST",  // Puedes ajustar el método según lo que necesites en tu backend
        })
        .then(response => {
            if (response.ok) {
                var chatMessages = document.getElementById("chat-messages");
                chatMessages.innerHTML = "";
                console.log("Contexto limpiado correctamente");
            }
            else{
                throw new Error(`Error en la solicitud: ${response.statusText}`);
            }

        })
        .catch(error => {
            console.error("Error al limpiar el contexto:", error);
        });
    }
    function handleKeyPress(event) {
         if (event.key === "Enter") {
            event.preventDefault(); // Evitar que se inserte una nueva línea en el campo de entrada
            askAssistant();
        }
    }
    </script>
    <script>
        function toggleNightMode() {
            var body = document.body;
            var chatContainer = document.getElementById("chat-container");
            var clearContextButton = document.getElementById("clearContextButton");
            var chatMessagesContainer = document.getElementById("chat-messages-container");
            var messageContainers = document.getElementsByClassName("message-container");
            var footer = document.getElementById("footer");
            var sendButton = document.getElementById("sendButton");

            body.classList.toggle("night-mode");
            chatContainer.classList.toggle("night-mode");
            clearContextButton.classList.toggle("night-mode");
            chatMessagesContainer.classList.toggle("night-mode");
            footer.classList.toggle("night-mode");
            sendButton.classList.toggle("night-mode");

            Array.from(messageContainers).forEach(function(container) {
                container.classList.toggle("night-mode");
            });
        }
    </script>
</body>
</html>
