<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llama Assistant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/prism.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script> 
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>   
</head>
<body>
<div id="header">
    <form id="model-form">
        <select class="form-control" id="model-select" name="models">
            {% for model_path in models_list %}
                <option value="{{ model_path }}">{{ model_path }}</option>
            {% endfor %}
        </select>
        <select class="form-control" id="format-select" name="formats">
            {% for format in format_list %}
                <option value="{{ format }}">{{ format }}</option>
            {% endfor %}
        </select>
        <button type="button" class="btn btn-primary" onclick="startModel()">Montar</button>
        <button type="button" class="btn btn-secondary" onclick="unloadModel()">Desmontar</button>
        <button class="btn btn-secondary" id="clear-context-button" onclick="clearContext()">Limpiar Historial</button>
    </form>
</div>
<div class="key-container" id="key-container"></div>
<div id="chat-container" class="container mt-4">
    <div id="chat-list"></div>
</div>
<div id="sidebar">
    <h5>Configuración del Modelo</h5>
    <label for="chat-format">Formato del Chat:</label>
    <input type="text" id="chat-format" placeholder="Ejemplo: my-custom-format">
    <label for="temperature">Temperatura:</label>
    <input type="number" id="temperature" step="0.01" placeholder="Ejemplo: 0.8">
    <label for="context">Contexto Máximo:</label>
    <input type="number" id="context" placeholder="Ejemplo: 2048">
    <button type="button" onclick="applyModelConfig()">Aplicar Configuración</button>
</div>
<div id="footer" >
    <div class="form-group">
        <input type="text" class="form-control" id="user-input" placeholder="Escribe tu mensaje">
    </div>
    <button class="btn btn-primary" id="send-button">Enviar</button>
</div>
</body>
</html>
<script>
    var conversationStarted = false;
    var currentAssistantResponse = '';
    $('#user-input').on('keypress', function (e) {
        if (e.which === 13) {
            sendMessage();
        }
    });
    $('#send-button').on('click', function() {
        sendMessage();
        
    });
    // Inicializar Prism.js después de que la página se haya cargado
    document.addEventListener('DOMContentLoaded', function () {
        Prism.highlightAll();
    });
</script>
