<!-- @Author: Borja Otero Ferreira -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IALab Suite | @FerreDev </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/driver.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/prism.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script> 
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>   
    <script src="{{ url_for('static', filename='js/driver.js') }}"></script>  
    <script src="{{ url_for('static', filename='js/showdown.min.js') }}"></script>  
</head>
<body>
<div id="container">
    <div id="history-chats">
        <h1>History Chats</h1>
        <div id = conversations-list>
            {% for chat_name in chat_list %}
                <button value="{{ chat_name }}" onclick="chat.loadHistory(chat_name)" class="load-history">{{ chat_name }}</button>
            {% endfor %}
        </div>
    </div>
    <div id="main-container">

        <div id="header">
            <button class="btn btn-primary" id="start-tour-button" onclick="toggleSidebar()">How to use</button>
            <label >Context used:</label><label id="tokens">0</label>
            <button class="btn btn-secondary" id="clear-context-button" onclick="chat.clearContext()">Reset chat</button>
        </div>
        <button id="toggle-sidebar-button" onclick="chat.toggleSidebar()">Menu</button>
        <div id="chat-container" class="container mt-4">
            <div id="chat-list"></div>
        </div>
    
        <div id="footer" >
            <div class="form-group" style="position: relative;">
                <button  id="stop-button" onclick="chat.stopResponse()">Stop</button>
                <textarea class="form-control" id="user-input" placeholder="Write your message"></textarea>
                <button class="btn btn-primary" id="send-button" onclick="chat.sendMessage()">Send</button>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <h5>Model configuration</h5>
        <div class="form-group">
            <label for="model-select">Model:</label>
            <select class="form-control" id="model-select" name="models">
                {% for model_path in models_list %}
                    <option value="{{ model_path }}">{{ model_path }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="format-select">Chat format:</label>
            <select class="form-control" id="format-select" name="formats">
                {% for format in format_list %}
                    <option value="{{ format }}">{{ format }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="temperature">Temperature:</label>
            <input type="number" id="temperature" class="form-control" step="0.01" placeholder="Example: 0.8">
        </div>
        <div class="form-group">
            <label for="context">Max. context:</label>
            <input type="number" id="context" class="form-control" placeholder="Example: 2048">
        </div>
        <div class="form-group">
            <label for="system-message">System message:</label>
            <textarea class="form-control" id="system-message" rows="3" placeholder="Example: You are a assistant with a friendly and honest personality. As an expert programmer and pentester, you should examine the details provided to ensure that they are usable.
            If you don't know the answer to a question, don't share false information.Don't deviate from the question"></textarea>
        </div>
        <div class="form-group">
            <label for="gpu-layers">GPU layers:</label>
            <input type="number" id="gpu-layers" class="form-control" placeholder="Example: 8">
        </div>
        <button type="button" class="btn btn-primary" id="apply" onclick="chat.applyConfig()">Apply configuration</button>
        <button type="button" class="btn btn-secondary" id="unmount" onclick="chat.unloadModel()">Unmount</button>
    </div>
</div>

</body>

</html>
<script>
    const chat = new Chat();
    const driver = window.driver.js.driver;
    const guiaConfiguracion = [
    { element: '#toggle-sidebar-button', popover: { title: 'Settings menu',
                                                     description: 'Press the Menu button to open and close the model settings menu', position: 'right' } },
             { element: '#model-select', popover: { title: 'Select a model',
                                                     description: 'Choose the model you are going to use. Remember that you must download your model in .gguf format and move/copy it to the model\'s folder', position: 'right' } },
             { element: '#format-select', popover: { title: 'Select a chat format',
                                                     description: 'Choose a chat format to start. Each model uses a message structure, for example:<br><code>˝###Instruction:{system_message}<br>###User:{user_message}<br>###Assistant:{assistant_message}˝</code><br> so each model will use a specific type of template for the conversation', position: 'right' } },
             { element: '#temperature', popover: { title: 'Model temperature (optional, default 0.81) ',
                                                     description: 'Adjust the temperature of the model from 0-1.<br>The temperature determines the creativity of the model in the responses, if the temperature is close to 0 the responses will be more deterministic but less creative, while if the temperature is high its Answers will be more creative but may be less precise', position: 'right' } },
             { element: '#context', popover: { title: 'Maximum Context (optional, default 2048)',
                                                     description: 'Sets the maximum context (In tokens) of the model. The context is the size of the conversation in tokens that it is capable of handling, each model has a maximum capacity, the larger the size the more memory resources required but it will also be able to maintain the thread in longer conversations (by default in 2048 tokens)', position: 'right' } },
             { element: '#system-message', popover: { title: 'System Message (Optional)',
                                                     description: 'Write here how you want your assistant to behave. In this field you can give him instructions such as who he is, what his specialties are, what his name is, ask him to adopt a specific personality, etc.', position: 'right' } },
             { element: '#gpu-layers', popover: { title: 'GPU Layers (Optional)',
                                                     description: 'Sets the number of GPU layers for the model. Each model has a maximum layer size, those layers can be loaded on the GPU for greater performance as long as the GPU supports CUDA (Win/Linx) or METAL (MacOs). The gpu must have at least the same size of available memory as the model weight in gigabytes<br>If you set the value to 0, the GPU will not be used and the CPU and CPU ram will be used.<br> With -1 it will use all the available layers that the GPU allows', position: 'right' } },
             { element: '#apply', popover: { title: 'Apply Settings',
                                                     description: 'Click here to apply model settings.', position: 'right' } },
             { element: '#unmount', popover: { title: 'Dismount Model',
                                                     description: 'Click here to unmount the current model and free it from memory when you\'re done.', position: 'right' } },
             { element: '#user-input', popover: { title: 'Enter your message',
                                                     description: 'Here you can write your message to the assistant.', position: 'left' } },
             { element: '#send-button', popover: { title: 'Send your message',
                                                     description: 'Press send or [Enter] to send the message.', position: 'left' } },
             { element: '#chat-list', popover: { title: 'Message List',
                                                     description: 'In this window your instructions for the model and its answers will appear 😁', position: 'left' } },
             { element: '#clear-context-button', popover: { title: 'Restart the conversation',
                                                   description: 'I almost forgot!!😅 Press the Reset button to erase my memory and start a new conversation. I hope you enjoy it! 🤓 ', position: 'right' } }
         ];
        const driverObj = driver({
            showProgress: true,
            steps: guiaConfiguracion
        });
        function toggleSidebar(){
            var sidebar = document.getElementById('sidebar');
            if (sidebar.style.display === 'none' || sidebar.style.display === '') {
                chat.toggleSidebar(); // Llamar a toggleSidebar solo si el menú está oculto
            }
            driverObj.drive(); 
        };
</script>