:root {
    --primary-color: #DCF8C6;
    --secondary-color: #f7e3c1;
    --primary-bg-color: #272727;
    --secondary-bg-color: #2C2C2C;
    }
    
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #333333;
}
#header {
    margin-top:2px;
    background-color: var(--primary-bg-color);
    max-width:60%;
    margin-left: 20%;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
    clear:both;
    border:1px  solid  var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
} 

#chat-container {
    border-right:1px solid var(--secondary-color);
    border-left:1px solid var(--secondary-color) ;
    max-width: 60%;
    height: calc(100vh - 208px);
    margin-left:10%;
    margin-top:0px !important;
    margin-left:20%;
    padding:50px;
    position: relative;
    overflow-y: scroll; 
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
}

#chat-container::-webkit-scrollbar {
    width: 6px; /* Establece el ancho de la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
}

#chat-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Establece el color del pulgar de la barra de desplazamiento en navegadores WebKit */
}

#footer {
    background-color: #2c2c2c;
    padding: 10px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 60%;
    margin-left:20%;
    margin-top:5px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
    border-top: 0;
    border-radius:0 0 5px 5px;
}

#footer input:active,
#footer input:focus {
    outline: none !important;
    border: 1px solid var(--secondary-color) !important; 
}

#footer input {
    background-color:    var(--secondary-bg-color);
    color: var(--secondary-color);
}

.user-message-container {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    width:100%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    clear:both;
}

.user-message{
    margin-left:10px;
    margin-top:10px;
}

#clear-context-button{
    float:right;
    color:#272727;
    background-color: var(--primary-color);
    font-weight: bold;

}

#clear-context-button:hover{
    color:var(--primary-color);
    background-color:#272727;
    border-color:var(--primary-color)
}

.assistant-message-container {
    clear:both;
    width:100%;
    border:1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    white-space: pre-line;
}

.assistant-message{
    margin-left:10px;
    clear:both;
    margin-top:10px;
}

.user-message-container label {
    border:1px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    padding-right:7px;
    padding-left:7px;
    font-weight: bold;
    font-size:14;
}

.assistant-message-container label {
    border:1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    padding-right:7px;
    padding-left:7px;
    font-weight: bold;
}

#sidebar {
    height: 100vh;
    width:19.8%;
    display: none;
    position: fixed;
    top: 0;
    color: var(--primary-color);
    right: 0;
    background-color: var(--secondary-bg-color);
    padding: 10px;
    box-shadow: -5px 0 5px -5px #333;
    z-index: 2;
}

#sidebar h5 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

#sidebar .form-group {
    margin-bottom: 15px;
}

#sidebar label {
    display: block;
    margin-bottom: 5px;
    color: var(--primary-color);
}

#sidebar input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
}
button:active,
button:focus {
    outline: none;
    border: 1px solid var(--secondary-color); 
}
input:active,
input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

#sidebar button {
    width: 100%;
    padding: 8px;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    color: var(--secondary-color);
    margin-bottom:10px;
    border-radius:5px;
}

#sidebar button:hover {
    width: 100%;
    padding: 8px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    color:     var(--secondary-bg-color)

}

#sidebar select {
    width: 100%;
    padding: 8px;
    height:35px;
    background-color: #33333300;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    color: var(--primary-color);
}

.key-container {
    position: absolute;
    bottom: 0; 
    left: 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    z-index: 2;
}

.key {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap; 
}

#format-select {
    padding: 5px; 
    width:10%;
}

#model-select {
    margin-bottom:10px
}

#model-form button {
    padding: 5px 10px;
    margin-top:5px;
    font-size: 12px; 
    background-color:#33333300;
    border:1px solid var(--secondary-color);
    border-radius: 2px 2px 2px 2px;   
}

#model-form button:hover {
    background-color:var(--secondary-color);
    border:1px solid #33333300;
    color:    var(--secondary-bg-color);
}

#send-button{
    width:100%;
    margin-top: 5px;
    background-color:#00000000;
    border:1px solid var(--secondary-color);
    color:var(--secondary-color);
}

#send-button:hover{
    background-color:var(--secondary-color);
    border:1px solid var(--secondary-bg-color);
    color:    var(--secondary-bg-color);
}

.form-group{
    width:100%;
    background-color:    var(--secondary-bg-color);
}

.form-control{
    background-color: #999;
}

.copy-button {
    position: relative;
    float:right;
    top: 5px;
    right: 5px;
    padding: 3px;
    cursor: pointer;
    background-color: var(--secondary-bg-color);
    border-color:var(--primary-color);
    border-radius:2px 2px 2px 2px;
    color:var(--primary-color);
    font-family: Arial, sans-serif;
}

#start-tour-button{
    float:left;
    clear:both;
    background-color:var(--secondary-color);
    color: var(--secondary-bg-color);
    border-color:var(--secondary-color);
    font-weight:bold;
}

#start-tour-button:hover{
    float:left;
    clear:both;
    background-color:#00000000;
    color:var(--secondary-color);
    border-color:var(--secondary-color);
}

#toggle-sidebar-button{
    background-color: var(--secondary-bg-color); 
    color: var(--primary-color); 
    border : 1px solid var(--primary-color); 
    max-width:60%;
    margin-left:20%;
}
#toggle-sidebar-button:hover{
    background-color:var(--primary-color); 
    color: var(--secondary-bg-color);
    border : 1px solid  var(--primary-color); 
}
.copy-button:hover{
    color: var(--secondary-bg-color);
    background-color: var(--primary-color);
}
#stop-button {
    width: 8%;
    position: absolute;
    bottom: 100%;
    right: 46%;
    border:1px solid #fe978a;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    color: #fe978a
}
.stop-button{
    display: none 
}
#share {
    position: relative;
    float:right;
    font-size: 12px; 
    background-color: #00000000;
    border: none;
    color: #fbfbfb;
    cursor: pointer;
    clear:both;
}
#share:hover {
    color:  var(--primary-color);
}

.popup-container {
    position: absolute;
    bottom: 0;
    left: 20px;
    width:300px;
    align-items:center;
    margin-left:calc(20% - 330px);
    margin-bottom:100px;
    display: flex;
    flex-direction: column-reverse; 
    align-items: flex-end; 
}

.popup-notification {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: opacity 0.5s ease;
    opacity: 0;
    max-width:300px;
    margin-bottom:20px;
    margin-left:20px;
    border: 5px solid var(--primary-color);
}

.popup-error {
    border: 5px solid #fe978a !important;
}
@media (max-width: 1023px) {

    #header{
        max-width:100%;
        margin-left:0%;

    }
    #chat-container {
        margin-left: 0px; 
        margin-right: 0px; 
        max-width: 100%;
        height: calc(100vh - 200px);
        padding:10px;
    }
    #model-form button {
        font-size: 12px; 
        padding: 5px 10px; 
        margin-top:5px;
        background-color:#33333300;
        border:1px solid var(--secondary-color);
        border-radius: 2px 2px 2px 2px;   
    }
    #footer{
        background-color:#333333;
        width:100%;
        margin-left:0;
    }
    #send-button{
        background-color:#00000000;
        border:1px solid var(--secondary-color);
    }
    #user-input{
        border-color:var(--secondary-color);
    }
    #model-select {
        font-size: 12px; 
        height:25px;
        width: 65%;
    }
    #format-select {
        font-size: 12px; 
        height:25px;
        width:20%
    }
    .user-message-container {
        margin-top:20px;
        max-width:95%;
    }
    .assistant-message-container {
       width:95%;
    }
    #sidebar{
        margin-top:90px;
        width:100%;
        display: none; 
        z-index:0;
    }
    #toggle-sidebar-button{
        max-width:100%;
        margin-left:0%;
    }
}
@media (max-height: 740px) {

    #sidebar{
        margin-top:90px;
        font-size: 10px;
        z-index:0;
    }
    #sidebar h5{
        font-size:12px
    }

    #sidebar select,textarea{
        max-height:30px;
    }
    #sidebar input{
        max-height:20px;
    }
    #sidebar button{ 
        margin-bottom:5px;
        font-size:12px;
    }
}