/** 
@Author: Borja Otero Ferreira
*/
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('/static/fonts/HelveticaNeueLight.otf') format('truetype');
}
:root {
    --primary-color: white;/**#1EB8CD;/**#000000;*/
    --secondary-color: #E99287;/**#5c5c5c;*/
    --primary-bg-color: #191A1A/**#010d17;*/;
    --secondary-bg-color: #1F2222;;/**#fefff5;*/
    --third-bg-color:#5565E8;
    --comment-color: #e83e8c;
    --footer-bg: #010d17 ;
    --neue-font:'HelveticaNeueLight', sans-serif;
    --hf-font: 'Segoe UI', Tahoma, sans-serif; 
    }
/**crawAAO*/
body {
    /*font-family: Arial, sans-serif;*/
    font-family:var(--hf-font);
    font-size:18px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   background-color: #191A1A !important;
}
a{
    color:var(--comment-color)
}

h1{
    color:var(--third-bg-color);
    font-size:22px
 
}
#container {
    display: flex;
    flex-direction:row;
    max-height:calc(100vh);
}
#chat-sidebar{
    z-index:0;
    display:none;
    position:relative !important;
    text-overflow: ellipsis;
    flex-direction: column;
    margin-right:10px;
    min-width: 15% !important;
    max-height: 100%; 
    height: auto; 
    background-color: var(--secondary-bg-color);
    text-align: center;
    overflow-x: auto;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
    scrollbar-gutter:var(--secondary-bg-color) ;
    padding-right: 17px; /* Compensa el espacio perdido por el scrollbar */
    margin-right: -17px; /* Compensa el espacio perdido por el scrollbar */


}
iframe{
    border: none;
    border-radius:5px;
    width: calc(48.5% - 2px);
    height: 150px;
    margin: 2px;

}

#conversations-list {
    z-index:2;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
    padding:1em;
    text-overflow: ellipsis;
}

/* Style for the load history button container */
.load-history {
    width: 100%;
    padding: 2px;
    background-color: transparent;
    color: var(--secondary-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
    border: none;
    font-size: 0.85em;
}

/* Style for the actual button inside load-history */
.load-history button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Hover effect */
.load-history button:hover {
    color:#191A1A !important;
}

/* Remove the btnLoadHistory class styles to avoid conflicts */
.btnLoadHistory {
    background-color: transparent !important;
    color: var(--secondary-color) !important;
    border: none !important;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Focus state - removes the outline but maintains accessibility */
.load-history button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(233, 146, 135, 0.2);
    color:#191A1A !important;
}
.load-history:hover{
    border: 0px solid var(--secondary-color);
    border-radius: 5px;
    background-color:var(--secondary-color);

}
.load-history:hover button{
    color:#191A1A !important;
}
#main-container{
    flex: 1;
    width:100%;
    margin-left:0;
}

#header {
    background-color: var(--secondary-bg-color);
    height:30px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
    clear:both;
    font-size:10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
} 
#header-chat-menu {
    z-index:3;
    top: 0;
    width: 15%;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    height:65px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    width: 100%;
    top: 0;
    border:1px;
    padding-top:20px;
} 

#chat-container {
    max-width: 987.99px;
    height: calc(100vh - 172px);
    border-radius: 20px 20px 0px 0px;
    margin-top:0px !important;
    margin-left:auto !important;
    padding:50px;
    padding-right:40px;
    position: relative;
    overflow-y: scroll; 
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
    z-index:4;
    background-color:var(--primary-bg-color)
}

#chat-container::-webkit-scrollbar {
    width: 6px; 
}

#chat-container::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 1px 0 0 16px;    
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: -5px;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: -5px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #1EB8CD;
}

#tools{
    color:white;
    margin-top:5px;
    margin-right:5px;
}

#footer {
    width: 100%;
    min-width:720px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #191A1A;
    border-radius: 0 0 5px 5px;
    z-index:5
}

#footer input:active,
#footer input:focus {
    outline: none !important;
    border: 1px solid var(--secondary-color) !important; 

}

#footer input {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);

  
}


.user-message-container {
 
    color: var(--secondary-color);
    width:100%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    clear:both;
}

.user-message{
    margin-left:10px;
    margin-top:10px;
}

#clear-context-button{
    color:var(--primary-color);
    background-color:var(--primary-bg-color);
    border-color:var(--primary-color);
    font-weight: bold;
    min-width:50%;

}

#clear-context-button:hover{
    color:var(--primary-bg-color);
    background-color: var(--primary-color);

}

.assistant-message-container {
    
    clear:both;
    width:100%;
    border-bottom:1px solid grey;
    color: var(--primary-color);
    padding: 20px;
    margin: 10px;
 
    white-space: pre-line;

}
#contenedor_respuesta{
    width:100%;
    display:flex;
    flex-direction:row;
}


.resultados {
    display: flex;
    max-width: 40%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-left:10px
 


}


.assistant-message{
    margin-left:10px;
    clear:both;
    margin-top:10px;
    width:80%;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 50px;
    font-size:0.9em;

}

.assistant-message li{
    margin:-5px;
}


.assistant-message ul{
    
}
.assistant-message ol{

}
.user-message-container label {
    border:1px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    padding-right:7px;
    padding-left:7px;
    font-weight: bold;
    font-size:14;
}

.assistant-message-container label {
    border:1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    padding-right:7px;
    padding-left:7px;
    font-weight: bold;
}

#config-sidebar {
    z-index:3;
    min-width:19.8% !important;
    display: none ;
    position: relative !important;
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    padding: 10px;
    flex-direction: column;
    max-height: 100%; 
    height: auto; 
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    text-align: center;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
    -webkit-box-shadow: 28px 18px 78px -3px rgba(233,146,135,0.21);
    -moz-box-shadow: 28px 18px 78px -3px rgba(233,146,135,0.21);
    box-shadow: 28px 18px 78px -3px rgba(233,146,135,0.21);
    }

#config-sidebar h5 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

#config-sidebar .form-group {
    margin-bottom: 15px;
}

#config-sidebar label {
    display: block;
    margin-bottom: 5px;
    color: var(--primary-color);
}

#config-sidebar input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
}
button:active,
button:focus {
    outline: none;
    border: 1px solid var(--secondary-color); 
}
input:active,
input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

#config-sidebar button {
    width: 100%;
    padding: 8px;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    color: var(--secondary-color);
    margin-bottom:10px;
    border-radius:5px;
}

#config-sidebar button:hover {
    width: 100%;
    padding: 8px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    color:     var(--secondary-bg-color)

}

#config-sidebar select {
    width: 100%;
    padding: 8px;
    height:35px;
    background-color: #33333300;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    color: var(--primary-color);
}

.key-container {
    position: absolute;
    bottom: 0; 
    left: 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    z-index: 2;
}

.key {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap; 
}

#format-select {
    padding: 5px; 
    width:10%;
}

#model-select {
    margin-bottom:10px
}

#model-form button {
    padding: 5px 10px;
    margin-top:5px;
    font-size: 12px; 
    background-color:#33333300;
    border:1px solid var(--secondary-color);
    border-radius: 2px 2px 2px 2px;   
}

#model-form button:hover {
    background-color:var(--secondary-color);
    border:1px solid #33333300;
    color:    var(--secondary-bg-color);
}

#user-input{
    resize: none !important;
    scrollbar-width: none; 
    scrollbar-color: transparent transparent;
    width: calc(100% - 95px); /* Resta el ancho del botón de enviar */
    border-radius: 5px 0 0 5px; /* Bordes redondeados en la esquina superior izquierda */
    border-right: none; /* Elimina el borde derecho para evitar la superposición con el botón */
    padding:10px;
    outline: none !important;
    border:1px solid var(--secondary-color);
    border-right-width: 0;
   
}
#user-input:focus {
    box-shadow: none;
}
#stop-button {
    border:1px solid #fe978a;
    background-color: #fe978a;
    color: var(--secondary-bg-color);
    margin-top:15px;
    position: absolute;
    bottom: 0px;
    width:94px;
    right: 2px;
    height:100%; /* Ajusta la altura del botón para que sea igual a la del textarea */
    border-radius: 0 5px 5px 0;
}
.stop-button{
    display: none 
}

#send-button{
    margin-top: 15px;
    background-color:#00000000;
    border:1px solid var(--secondary-color);
    color:var(--secondary-color);
    position: absolute;
    bottom: 0px;
    width:94px;
    right: 2px;
    height:100%; /* Ajusta la altura del botón para que sea igual a la del textarea */
    border-radius: 0 5px 5px 0;
}

#send-button:hover{
    background-color:var(--secondary-color);
    color: var(--secondary-bg-color);
}

.form-control:focus {
    background-color: var(--secondary-bg-color);
    border:var(--secondary-bg-color);
    outline: none;
    box-shadow: 0 0 0 0.2rem  var(--secondary-color);
    color: var(--secondary-color);
}


#footer .form-group{
    width: 674.66px;
    display:flex;
    position:relative;
    background-color:var(--secondary-bg-color);
    margin-top:20px;
}

.form-control{
    background-color: #999;
}



#start-tour-button{
    font-size: 1.3em;
    padding:2px;
    width:30px;
    margin-right:10px;
    margin-left:10px;
    background-color:#00000000;
    border:none;
 
}

#start-tour-button:hover{

    color: var(--secondary-bg-color);
    font-size:1.6em;
    
    
}

#toggle-config-button{
    font-size: 1.3em;
    padding:2px;
    width:30px;
    background-color: #00000000;
    border:none;
    margin-right:10px;


}
#toggle-config-button:hover{
    font-size:1.6em;
}


#share {
    position: relative;
    float:right;
    font-size: 12px; 
    background-color: #00000000;
    border: none;
    color: #fbfbfb;
    cursor: pointer;
    clear:both;
}
#share:hover {
    color:  var(--primary-color);
}

.popup-container {
    z-index:4;
    position: absolute;
    bottom: 0;
    left: 20px;
    width:300px;
    align-items:center;
    margin-left:calc(20% - 330px);
    margin-bottom:100px;
    display: flex;
    flex-direction: column-reverse; 
    align-items: flex-end; 
}
pre:not(pre)>code[class*=language-], pre[class*=language-] {
   
    background-color:rgba(10, 9, 9, 0.966) !important;
} 
code{
    font-weight: bold !important;
    font-size: 0.9em !important;
}

.line-numbers{
    background-color:black !important
}

.popup-notification {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: opacity 0.5s ease;
    opacity: 0;
    max-width:300px;
    margin-bottom:20px;
    margin-left:20px;
    border: 5px solid var(--primary-color);
}

.popup-error {
    border: 5px solid #fe978a !important;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tbody{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

table th {
    background-color: var(--secondary-color);
    -webkit-text-fill-color: var(--secondary-bg-color);
    border-color:var(--primary-color)!important;
    text-align: center;
}

th:first-child {
    border-top-left-radius: 5px; /* Borde redondeado en la esquina superior izquierda */
    border-left:3px;
}

th:last-child {
    border-right:3px;
    border-top-right-radius: 5px; /* Borde redondeado en la esquina superior derecha */
}
table tr:nth-child(even) {
    background-color: var(--primary-bg-color);
}


/* Estilo para las celdas de la tabla */
table td {
    padding: 8px;
    border: 1px solid var(--secondary-color);
}
textarea{

}


#tokens {
margin-left:5px;
}
@media (max-width: 1023px) {
    #conversations-list {
        overflow-y:scroll;
        background-color:  #191A1A;
     
    }

    #header-caht-menu{
        display:block !important;
  
    }
    #config-sidebar,
    #chat-sidebar {
        height:calc(100vh - 90px);
        position: fixed !important;
        width: 50% !important;
        max-width: 100% !important;
        left: 0 !important;
        z-index: 3!important;
        margin-bottom:90px;
      
       
    }

    .load-history{
        font-size:1em;
    }

    

    .popup-container {
        position: absolute;
        width:300px;
        align-items:center;
        margin-left:10px;
        padding-left:2PX;
        margin-bottom:50px;
        display: flex;
        flex-direction: column-reverse; 
        z-index :5;
    }
    #main-container{
        width:100%;
        margin-right:0px !important; 
    }

    #chat-container {
        margin-left: 0px; 
        padding:10px;
    }


    #model-form button {
        font-size: 12px; 
        padding: 5px 10px; 
        margin-top:5px;
        background-color:#33333300;
        border:1px solid var(--secondary-color);
        border-radius: 2px 2px 2px 2px;   
    }
    #footer{
        background-color:var(--secondary-bg-color);
        width:100%;
        margin-left:0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center; 
        
    }
    #send-button{   
        padding:1px;
        border:1px solid var(--secondary-color);
    }
    #user-input{
        border-color:var(--secondary-color);
        resize: none !important;
        scrollbar-width: thin; 
        scrollbar-color: transparent transparent;
        scrollbar-width: none; 
    }
    #model-select {
        font-size: 12px; 
        height:25px;
        width: 65%;
    }
    #format-select {
        font-size: 12px; 
        height:25px;
        width:20%
    }
    .user-message-container {
        margin-top:20px;
        max-width:95%;
    }
    .assistant-message-container {
       width:95%;
    }

    #toggle-config-button{
        max-width:100%;
        margin-left:0%;
    }
}
@media (max-height: 740px) {

    #config-sidebar{
        margin-top:90px;
        font-size: 10px;
     
    }
    #config-sidebar h5{
        font-size:12px
    }

    #config-sidebar select,textarea{
        max-height:30px;
    }
    #config-sidebar input{
        max-height:20px;
    }
    #config-sidebar button{ 
        margin-bottom:5px;
        font-size:12px;
    }
}