body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#333333;
    /*background: linear-gradient(to right, #333333, #00e5ff, #333333);*/
}
#header {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
#chat-container {
    max-width: 50%;
    margin: 80px auto 0; 
    padding: 20px;
    padding-top: 80px;
    border: 0px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
    margin-left:20%;
    margin-right:25%;
    position: relative;
}
#footer {
    background-color: #2C2C2C;
    padding: 10px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    margin-top:5px;
    display: flex;
    flex-direction: column; /* Cambiado para poner el botón debajo del input */
}
.user-message {
    background-color: #DCF8C6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.assistant-message {
    background-color: #F3F3F3;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    white-space: pre-line;
}
.assistant-message li{
    list-style: none;
    margin:0;
}
#send-button{
    width:100%;
    margin-top: 5px; /* Añadido margen superior para separar el botón del input */
}
#chat-list li {
    list-style: none;
    margin: 0;
}
.form-group{
    width:100%;
    background-color:#2C2C2C;
}
#chat-list ul {
    padding: 0;
    margin: 0;
    margin-top: 80px;
}
.form-control{
    background-color: #999;
}

#sidebar {
    background-color: #f5f5f5;
    position: fixed;
    top: 80px;
    right: 0;
    width: 200px;
    height: calc(100% - 80px);
    padding: 20px;
    overflow-y: auto;
}

.key-container {
    position: absolute;
    bottom: 0; /* Cambiado a bottom: 0 */
    left: 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    z-index: 2;
}

.key {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap; /* Evitar que el texto se desborde en varias líneas */
}
.chat-bubble {
    background-color: #DCF8C6;; /* Color de fondo del bocadillo del asistente */
    color: #000; /* Color del texto del bocadillo del asistente */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    z-index:3;
}

#model-form button {
    padding: 5px 10px;
    margin-top:5px;
}

#model-form button {
    margin-top:5px;
}
#format-select {
    padding: 5px; 
    width:10%;
}
#model-select {
    padding: 5px; 
    width:75%;
    float:left;
    margin-right:10px;
    margin-left:10%;
}

@media (max-width: 767px) {
    /* Estilos específicos para pantallas pequeñas (móviles) */

    #sidebar {
        display: none; /* Oculta la barra lateral en pantallas pequeñas */
    }

    #chat-container {
        margin-left: 0; /* Ajusta el margen izquierdo para ocupar toda la pantalla */
        margin-right: 0; /* Ajusta el margen derecho para ocupar toda la pantalla */
        max-width: 100%; /* Ajusta el ancho máximo para ocupar toda la pantalla */
    }

    /* Estilos para reducir el tamaño de los botones */
    #model-form button {
        font-size: 12px; /* Ajusta el tamaño de la fuente */
        padding: 5px 10px; /* Ajusta el relleno */
        margin-top:5px;
    
    }

    /* Estilos para reducir el tamaño del select */
    #model-select {
        font-size: 12px; /* Ajusta el tamaño de la fuente */
        height:20px;
        width: 65%;
       
       
    }
    #format-select {
        font-size: 12px; /* Ajusta el tamaño de la fuente */
        height:20px;
        width:20%
    }
    .chat-bubble {
        color: #000; /* Color del texto del bocadillo del asistente */
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 10px;
        z-index:3;
    }
}